/************************/
/* Universal */
/************************/
body {
    padding: 0;
    margin: 0;
}

.no-margin {
    margin: 0 !important;
}

hr {
    width: 70%;
}

/************************/
/* Home Page */
/************************/


#cover {
    background-color: #001a4b;
    color: white;
}

.cover-text {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin-top: 5%;
}

#cover-image {
    /* Source = https://i.ytimg.com/vi/p5ASFjRwsgw/maxresdefault.jpg */
    background: url('../img/women.jpg') no-repeat fixed;
    margin-top: 5%;
    height: 20em;
    margin-left: 0;
    margin-right: 0;
}

.more-icon {
    font-size: 80px !important;
    margin-top: 5%;
    color: white;
    text-decoration: none;
}